<div class="p-grid p-justify-center card" >
    <div class="p-col-10 p-sm-6 p-md-4">
        <p-card>
            <div class="p-grid">
                <div class="p-col-12 text-center">
                    <!--<i class="fas fa-car fa-4x" style="color: #007ad9;"></i>-->
                    <h3>ACESSO AO SISTEMA:</h3>
                </div>
                <div class="p-col-12">
                    <label for="">Digite seu e-mail:</label>
                    <input [(ngModel)]="requestLogin.email" class="p-col-12" type="text" pInputText />
                </div>
                <div class="p-col-12" >
                    <label for="">Digite sua Senha:</label>
                    <input [(ngModel)]="requestLogin.senha" class="p-col-12" type="password" pInputText />
                </div>
                
                <div class="p-col-12">
                    <button (click) = "doLogin()" pButton  type="button" label="Entrar" class="p-col-12"></button>
                </div>

                <div class="p-col-12" >
                       <a style="color: red;" href target="#">Esqueci minha senha!</a>
                </div>
               
            </div>
        </p-card>
    </div>

